
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_21stq1mbcfvfgvi.eot?t=1501771858302'); /* IE9*/
  src: url('//at.alicdn.com/t/font_21stq1mbcfvfgvi.eot?t=1501771858302#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_21stq1mbcfvfgvi.woff?t=1501771858302') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_21stq1mbcfvfgvi.ttf?t=1501771858302') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_21stq1mbcfvfgvi.svg?t=1501771858302#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ul-list:before { content: "\e699"; }

.icon-ol-list:before { content: "\e62d"; }

.icon-font-strike:before { content: "\e62e"; }

.icon-align-left:before { content: "\e773"; }

.icon-align-right:before { content: "\e774"; }

.icon-quote:before { content: "\e68e"; }

.icon-textsize:before { content: "\e69b"; }

.icon-phone:before { content: "\e622"; }

.icon-font-underline:before { content: "\e621"; }

.icon-color:before { content: "\e8f7"; }

.icon-line-spacing:before { content: "\e65c"; }

.icon-redo:before { content: "\e645"; }

.icon-link:before { content: "\e63b"; }

.icon-307fontsize:before { content: "\e760"; }

.icon-font-italic:before { content: "\e850"; }

.icon-pic:before { content: "\e616"; }

.icon-bgcolor:before { content: "\e678"; }

.icon-html:before { content: "\e6ac"; }

.icon-align-justify:before { content: "\e9c2"; }

.icon-font-blod:before { content: "\e61f"; }

.icon-spacing-bottom:before { content: "\e602"; }

.icon-spacing-top:before { content: "\e603"; }

.icon-brush:before { content: "\e601"; }

.icon-align-center:before { content: "\e8bc"; }

.icon-size:before { content: "\e60c"; }

.icon-undo:before { content: "\e607"; }

.icon-indent:before { content: "\e687"; }

.icon-indent2:before { content: "\e734"; }

.icon-paragraph_bottom:before { content: "\e740"; }

.icon-paragraph-top:before { content: "\e742"; }

.icon-font-size:before { content: "\e741"; }
